body {
  background-image: url(./assets/bg-mobile.jpg);
  background-position: 30%;
  background-attachment: fixed;
}

body * {
  font-family: "Inter", sans-serif;
  color: black;
}

#container {
 width: 360px;
 margin: auto;
 margin: 56px auto 0px auto;
 padding: 0 24px;
}

#profile {
 text-align: center;
 padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* links */
ul  {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline-start: 0px;
  padding: 24px 1;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid  black; 
}

/* social-links*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 16px;
 transition: background 0.2s;
 border-radius: 50%;
}

#social-links a:hover {
 background:  rgba(255, 255, 255, 0.2);
}

